* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HTML font-sized changed so 1 rem = 10px */
html {
  font-size: 62.5% !important;
  height: 100%;
  background: #1e272e;
}

body {
  height: 100vh;
  font-family: "Space Mono";
}
/* container of calendar, covers the whole site */
.container {
  width: 100%;
  height: 100%;
  background: #1e272e;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Calendar sizing and color */
.calendar {
  width: 60rem;
  height: 65rem;
}

.month {
  width: 99%;
  height: 7rem;
  background: linear-gradient(180deg, #485460 0%, rgba(72, 84, 96, 0) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  border-radius: 1rem;
}

/* Arrow icons */
.month i {
  font-size: 2.3rem;
  cursor: pointer;
}

/* The month above the calendar */
.month h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-bottom: 0.6rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

/* The weekdays above the calendar */
.weekdays div {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(59.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

/* Highlights todays date */
.today {
  color: #1e272e;
  background: #05c46b !important;
}

/* The dates inside the calendar */
.days div {
  font-size: 3rem;
  margin: 0.3rem;
  width: calc(55.2rem / 7);
  height: 7rem;
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(180deg, #485460 0%, rgba(72, 84, 96, 0) 100%);
  transition: background-color 0.2s;
  border-radius: 0.4rem;
  padding-inline-end: 0.5rem;
  border: solid 1px rgba(0, 0, 0, 0.7);
}

.days div:hover:not(.today) {
  background-color: #485460;
  cursor: pointer;
}

/* The days from previous and next month */
.prev-date,
.next-date {
  opacity: 0.5;

  background: linear-gradient(
    180deg,
    rgba(30, 39, 46, 0) 0%,
    #485460 100%
  ) !important;
}

.task-dot {
  width: 15%;
  position: relative;
  right: 2rem;
  top: 2.5rem;
}

.todo-container {
}

.landing-page-text {
  margin-top: -2.1rem;
}
