@media only screen and (max-width: 770px) {
  .container {
    width: 100%;
    height: 60%;
    top: 9rem;
    bottom: 0;
  }

  .calendar {
    display: none;
  }

  .sidebar {
    bottom: 0;
    height: 30rem;
    top: 14rem;
  }

  html {
    font-size: 80% !important;
  }
}

@media only screen and (max-width: 720px) {
  .calendar {
    display: none;
  }

  .sidebar {
    margin-left: 0 !important;
  }

  .container {
    position: absolute;
    top: 0rem;
  }

  .sidebar {
    box-shadow: 2px 2px 30px #13181d;
    display: flex;
  }

  html {
    font-size: 70% !important;
  }
}
@media only screen and (max-width: 540px) {
  .container {
    width: 100%;
    height: 60%;
    top: 5rem;
    bottom: 0;
  }

  .sidebar {
    bottom: 0;
    height: 30rem;
    top: 9rem;
  }

  html {
    font-size: 60% !important;
  }
}

@media only screen and (max-width: 440px) {
  .container {
    width: 100%;
    height: 60%;
    top: 5rem;
    bottom: 0;
  }

  .sidebar {
    bottom: 0;
    height: 30rem;
    top: 9rem;
  }

  html {
    font-size: 60% !important;
  }
}

@media only screen and (max-width: 370px) {
  .container {
    width: 100%;
    height: 60%;
    top: 5rem;
    bottom: 0;
  }

  .sidebar {
    bottom: 0;
    height: 30rem;
    top: 9rem;
  }

  html {
    font-size: 50% !important;
  }
}
