/* To do list container*/
.sidebar {
  height: 65rem;
  width: 30rem;
  margin-left: 2rem;
  position: relative;
  bottom: 0.799rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 1rem;
}
.morning {
  background: url(./imgs/Task-bar1.png),
  linear-gradient(180deg, #FED97C 23.96%, rgba(255, 188, 109, 0.84) 59.9%, rgba(255, 136, 109, 0.33) 100%);
}
.day {
  background: url(./imgs/Task-bar2.png),
  linear-gradient(180deg, #47CFFA 23.96%, rgba(95, 248, 238, 0.84) 47.49%, rgba(225, 255, 162, 0.66) 92.01%);
}
.night {
  background: url(./imgs/Task-bar3.png),
  linear-gradient(180deg, #53A7C1 30.84%, rgba(56, 93, 149, 0.88) 61.6%, rgba(30, 72, 154, 0.88) 92.01%);
}

#location {
  position: absolute;
  top: 10rem;
  font-size: 3rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

#time {
  position: absolute;
  top: 14rem;
  font-size: 4rem;
  text-align: center;
  font-weight: 400;
  flex-direction: column;
}

.task-list-header {
  position: absolute;
  top: 23rem;
  left: 2rem;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 700;
}

#task-list-container {
  height: 38rem;
  width: 100%;
  position: absolute;
  top: 27rem;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  font-family: "Roboto";
}

.todo-container {
  z-index: 0;
}

/* To do items in container  */
.todo-container h2 {
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: 400;
  position: relative;
  margin: 0 0 0 2rem;
}

.todo-container span {
  margin-left: 2rem;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: 400;
  position: relative;
}

.task-title {
  height: 3rem;
  width: 100%;
  margin-left: 2rem;
  position: relative;
  font-family: "Roboto";
  font-size: 2rem;
  font-weight: 400;
}

.task-time {
  margin-left: 2rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

#add-event {
  text-align: center;
  position: relative;
  top: 35rem;
}

.white-line {
  position: absolute;
  width: 25rem;
  height: 0;
  border: 0.1rem solid #fefefe;
  top: 21rem;
}

.task-list-dot {
  width: 3%;
  margin-right: 0.5rem;
}
.add-event {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}
.add-event > button {
  position: absolute;
  bottom: 2rem;
  right: 7rem;

  background-color: #05c46b;
  color: white;
  border-radius: 5px;
  border: none;

  height: 2.5rem;
  width: 15rem;
}
/* #region New Event */
.hidden {
  display: none;
}

.new-event-container {
  position: relative;
  width: 25rem;
  height: 40rem;
  margin-top: 12rem;
  padding: 1.4rem;

  background: #1e272e;
  opacity: 1;
  border-radius: 20px;

  z-index: 1000;

  font-family: "Space Mono";
  font-size: 1.3rem;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
}

.new-event-container input {
  border-radius: 5px;
  border: none;
  height: 2rem;
  margin-bottom: 1rem;
}

.new-event-container h4 {
  font-size: 1.8rem;
}

.new-event-container button {
  background-color: #05c46b;
  color: white;
  border-radius: 5px;
  border: none;

  height: 2.5rem;
  width: 8rem;
}
.submit-btn {
  background-color: #05c46b;
  color: white;
  width: 8rem;
}

/*#endregion New Event */
